:root {
  --md-primary-fg-color: #1c40b1;
  --md-accent-fg-color: #50ca9a;
  --md-admonition-icon--velum-tag: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.75 6.5a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5z"></path><path fill-rule="evenodd" d="M2.5 1A1.5 1.5 0 001 2.5v8.44c0 .397.158.779.44 1.06l10.25 10.25a1.5 1.5 0 002.12 0l8.44-8.44a1.5 1.5 0 000-2.12L12 1.44A1.5 1.5 0 0010.94 1H2.5zm0 1.5h8.44l10.25 10.25-8.44 8.44L2.5 10.94V2.5z"></path></svg>');
  --md-admonition-icon--velum-metric: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M2.5 2.75a.75.75 0 00-1.5 0v18.5c0 .414.336.75.75.75H20a.75.75 0 000-1.5H2.5V2.75z"></path><path d="M22.28 7.78a.75.75 0 00-1.06-1.06l-5.72 5.72-3.72-3.72a.75.75 0 00-1.06 0l-6 6a.75.75 0 101.06 1.06l5.47-5.47 3.72 3.72a.75.75 0 001.06 0l6.25-6.25z"></path></svg>');
}

a.external-link::after {
  /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
  content: "\00A0[↪]";
}

a.internal-link::after {
  /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
  content: "\00A0↪";
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em !important;
}

.md-typeset h2 {
  font-weight: 600;
}

.md-header-nav__title {
  font-weight: 800;
}

.md-typeset table:not([class]) th {
  background-color: #2c3e50;
}

.banner-image {
  background: url("https://s3-us-west-2.amazonaws.com/cloudvelum.1strategy.com/assets/banner.png");
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-graphic {
  background: url("https://s3-us-west-2.amazonaws.com/cloudvelum.1strategy.com/assets/cloudvelum-howto.png");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.center-it {
  text-align: center;
  width: 100%;
}

.no-header {
  background: red;
}

/* Question Admonition */
.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: #50ca9a;
}
.md-typeset .question>summary::before {
  background-color: #50ca9a;
}
.md-typeset .question>summary {
  background-color: #2c3e50;
  color:white;
}

/* Example Admonition */
.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: #50ca9a;
}
.md-typeset .example>summary::before {
  background-color: #1c40b1;
}
.md-typeset .example>summary {
  background-color: white;
}

/* VelumTag Admonition */
.md-typeset .admonition.velum-tag,
.md-typeset details.velum-tag {
  border-color: #1c40b1;
  /* border: none; */
}
.md-typeset .velum-tag > .admonition-title,
.md-typeset .velum-tag > summary {
  background-color: #1c40b1;
  border: none;
  font-size: .75rem;
}

.md-typeset .velum-tag > .admonition-title::before,
.md-typeset .velum-tag > summary::before {
  background-color: #1c40b1;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-mask-image: var(--md-admonition-icon--velum-tag);
          mask-image: var(--md-admonition-icon--velum-tag);
}

/* Turning off thead off for velum tag admonition since its not used */
.velum-tag thead {
  display: none;
}

.velum-tag td:first-child {
  text-transform: uppercase;
}

/* VelumMetric Admonition */
.md-typeset .admonition.velum-metric,
.md-typeset details.velum-metric {
  border-color: #2c3e50;
  /* border-color: #c0392b; */
  /* border: none; */
}
.md-typeset .velum-metric > .admonition-title,
.md-typeset .velum-metric > summary {
  background-color: #2c3e50;
  border: none;
  font-size: .75rem;
}
.md-typeset .velum-metric > .admonition-title::before,
.md-typeset .velum-metric > summary::before {
  background-color: #2c3e50;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-mask-image: var(--md-admonition-icon--velum-metric);
          mask-image: var(--md-admonition-icon--velum-metric);
}



/*
  Setting dark mode styles to look a bit better
*/

[data-md-color-scheme="slate"] {
  --md-hue: 230;
  /* #2e303d */
  --md-primary-fg-color: #50ca9a;
  --md-typeset-a-color:  #50ca9a;
  --md-accent-fg-color: #1c40b1;
}

[data-md-color-scheme="slate"] .banner-image {
  background: url("https://s3-us-west-2.amazonaws.com/cloudvelum.1strategy-sandbox.com/assets/banner-white.png");
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* [data-md-color-scheme="slate"] .md-typeset .admonition.velum-tag,
.md-typeset details.velum-tag {
  border-color: #1c40b1;
} */

[data-md-color-scheme="slate"] .md-typeset .velum-tag > .admonition-title,
.md-typeset .velum-tag > summary {
  background-color: #f3f3f32e;
}
[data-md-color-scheme="slate"] .md-typeset .velum-metric > .admonition-title,
.md-typeset .velum-metric > summary {
  background-color: #f3f3f32e;
}
